In [4]:

import pandas as pd 
import random


  
 
data = {'Feature1':[random.random() for i in range(100)], 'Feature2':[random.random() for i in range(100)], 'Feature3':[random.random() for i in range(100)], 'Feature4':[random.random() for i in range(100)],'Output':[round(random.random()) for i in range(100)]} 
  

df = pd.DataFrame(data) 
  

df.to_csv("dataset.csv",index=False)

In [5]:
df = pd.read_csv("dataset.csv")
df.head()

   Feature1  Feature2  Feature3  Feature4  Output
0  0.709308  0.625810  0.157136  0.480524       1
1  0.775769  0.607625  0.979748  0.322200       1
2  0.367940  0.835908  0.856000  0.723671       0
3  0.630106  0.759891  0.800567  0.073295       0
4  0.365873  0.679899  0.377382  0.402084       0